<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" *ngIf="isAuthenticated()">

    <ul class="list-group">
        <a class="list-group-item" routerLink="customer-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.customerMysuffix">Customer Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="invoice-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.invoiceMysuffix">Invoice Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="invoice-item-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.invoiceItemMysuffix">Invoice Item Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="order-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.orderMysuffix">Order Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="order-item-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.orderItemMysuffix">Order Item Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="packet-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.packetMysuffix">Packet Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="packet-item-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.packetItemMysuffix">Packet Item Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="payment-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.paymentMysuffix">Payment Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="product-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.productMysuffix">Product Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="provider-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.providerMysuffix">Provider Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="purchase-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.purchaseMysuffix">Purchase Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="purchase-item-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.purchaseItemMysuffix">Purchase Item Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="storage-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.storageMysuffix">Storage Mysuffix</span>
        </a>
        <a class="list-group-item" routerLink="tax-mysuffix" [routerLinkActive]="['router-link-active']" >
            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
            <span jhiTranslate="global.menu.entities.taxMysuffix">Tax Mysuffix</span>
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'More Theme'}}
        </a>
    </ul>
</nav>
