<form  [formGroup]="orderForm" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderLabel" jhiTranslate="drzugApp.order.home.createOrEditLabel">Create or edit a Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<!--        <div class="form-group" [hidden]="!order.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="order.id" readonly />

            <label class="form-control-label" jhiTranslate="drzugApp.order.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="order.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>

            <label class="form-control-label" jhiTranslate="drzugApp.order.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="order.status" id="field_status"  required>
                <option value="CANCELLED">{{'drzugApp.OrderStatus.CANCELLED' | translate}}</option>
                <option value="LOCKED">{{'drzugApp.OrderStatus.LOCKED' | translate}}</option>
                <option value="COMPLETED">{{'drzugApp.OrderStatus.COMPLETED' | translate}}</option>
                <option value="NEW">{{'drzugApp.OrderStatus.NEW' | translate}}</option>
                <option value="INQUIRY">{{'drzugApp.OrderStatus.INQUIRY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <h3>Reactive form</h3>-->
        <div class="form-group">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" formControlName="id" placeholder="Id" readonly/>

            <label class="form-control-label" jhiTranslate="drzugApp.order.createdAt" for="field_createdAt">Created At</label>
            <input type="datetime-local" class="form-control" formControlName="createdAt"/>

            <label class="form-control-label" jhiTranslate="drzugApp.order.status" for="field_status">Status</label>
            <select formContorlName="status" class="form-control" >
                <option value="CANCELLED">{{'drzugApp.OrderStatus.CANCELLED' | translate}}</option>
                <option value="LOCKED">{{'drzugApp.OrderStatus.LOCKED' | translate}}</option>
                <option value="COMPLETED">{{'drzugApp.OrderStatus.COMPLETED' | translate}}</option>
                <option value="NEW">{{'drzugApp.OrderStatus.NEW' | translate}}</option>
                <option value="INQUIRY">{{'drzugApp.OrderStatus.INQUIRY' | translate}}</option>
                <!--<option *ngFor="let statusType of orderStatus" [value]="statusType"> {{ statusType }}</option>-->
            </select>
        </div>

        <div formArrayName="orderItems">
            <div *ngFor="let orderItem of orderForm.controls.orderItems.controls; let i=index" class="card form-group">
                <div class="card-header form-control-label">
                    <span> item {{i+1}} </span>
                    <span class="fa fa-times pull-right" (click)="removeOrderItem(i)"></span>
                </div>

                <div class="card-block form-group row" [formGroupName]="i">
                    <div class="form-group col">
                        <label class="form-control-label">count</label>
                        <input type="text" class="form-control" formControlName="count">
                    </div>
                    <div class="form-group col">
                        <label class="form-control-label">Sale price</label>
                        <input type="text" class="form-control" formControlName="salePrice">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <a (click)="addOrderItem()" style="cursor: default">
                Add another address +
            </a>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
