
<div *ngIf="purchaseItem">
    <h2><span jhiTranslate="drzugApp.purchaseItem.detail.title">Purchase Item</span> {{purchaseItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.purchaseItem.count">Count</span></dt>
        <dd>
            <span>{{purchaseItem.count}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.purchaseItem.purchase">Purchase</span></dt>
        <dd>
            <div *ngIf="purchaseItem.purchaseId">
                <a [routerLink]="['/purchase-mysuffix', purchaseItem.purchaseId]">{{purchaseItem.purchaseId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="drzugApp.purchaseItem.product">Product</span></dt>
        <dd>
            <div *ngIf="purchaseItem.productId">
                <a [routerLink]="['/product-mysuffix', purchaseItem.productId]">{{purchaseItem.productName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'purchase-item-mysuffix/'+ purchaseItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
