<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPurchaseItemLabel" jhiTranslate="drzugApp.purchaseItem.home.createOrEditLabel">Create or edit a Purchase Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!purchaseItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="purchaseItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="drzugApp.purchaseItem.count" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                [(ngModel)]="purchaseItem.count" required />
            <div [hidden]="!(editForm.controls.count?.dirty && editForm.controls.count?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.count?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.count?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="drzugApp.purchaseItem.purchase" for="field_purchase">Purchase</label>
            <select class="form-control" id="field_purchase" name="purchase" [(ngModel)]="purchaseItem.purchaseId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="purchaseOption.id" *ngFor="let purchaseOption of purchases; trackBy: trackPurchaseById">{{purchaseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="drzugApp.purchaseItem.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="purchaseItem.productId">
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
