<div>
    <h2>
        <span jhiTranslate="drzugApp.packet.home.title">Packets</span>
        <button class="btn btn-primary float-right jh-create-entity create-packet-mysuffix" [routerLink]="['/', { outlets: { popup: ['packet-mysuffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="drzugApp.packet.home.createLabel">
            Create new Packet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="packets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weight"><span jhiTranslate="drzugApp.packet.weight">Weight</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="drzugApp.packet.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="destinationName"><span jhiTranslate="drzugApp.packet.destination">Destination</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let packet of packets ;trackBy: trackId">
                <td><a [routerLink]="['../packet-mysuffix', packet.id ]">{{packet.id}}</a></td>
                <td>{{packet.weight}}</td>
                <td jhiTranslate="{{'drzugApp.PacketStatus.' + packet.status}}">{{packet.status}}</td>
                <td>
                    <div *ngIf="packet.destinationId">
                        <a [routerLink]="['../storage-mysuffix', packet.destinationId  ]" >{{packet.destinationName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../packet-mysuffix', packet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'packet-mysuffix/'+ packet.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'packet-mysuffix/'+ packet.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="packets && packets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
