<div>
    <h2>
        <span jhiTranslate="drzugApp.invoiceItem.home.title">Invoice Items</span>
        <button class="btn btn-primary float-right create-invoice-item-mysuffix" [routerLink]="['/', { outlets: { popup: ['invoice-item-mysuffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="drzugApp.invoiceItem.home.createLabel">
            Create new Invoice Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoiceItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="count"><span jhiTranslate="drzugApp.invoiceItem.count">Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discount"><span jhiTranslate="drzugApp.invoiceItem.discount">Discount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="invoiceId"><span jhiTranslate="drzugApp.invoiceItem.invoice">Invoice</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="drzugApp.invoiceItem.product">Product</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxName"><span jhiTranslate="drzugApp.invoiceItem.tax">Tax</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceItem of invoiceItems ;trackBy: trackId">
                <td><a [routerLink]="['../invoice-item-mysuffix', invoiceItem.id ]">{{invoiceItem.id}}</a></td>
                <td>{{invoiceItem.count}}</td>
                <td>{{invoiceItem.discount}}</td>
                <td>
                    <div *ngIf="invoiceItem.invoiceId">
                        <a [routerLink]="['../invoice-mysuffix', invoiceItem.invoiceId  ]" >{{invoiceItem.invoiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceItem.productId">
                        <a [routerLink]="['../product-mysuffix', invoiceItem.productId  ]" >{{invoiceItem.productName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceItem.taxId">
                        <a [routerLink]="['../tax-mysuffix', invoiceItem.taxId  ]" >{{invoiceItem.taxName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice-item-mysuffix', invoiceItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-item-mysuffix/'+ invoiceItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-item-mysuffix/'+ invoiceItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="invoiceItems && invoiceItems.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
