
<div *ngIf="tax">
    <h2><span jhiTranslate="drzugApp.tax.detail.title">Tax</span> {{tax.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.tax.name">Name</span></dt>
        <dd>
            <span>{{tax.name}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.tax.rate">Rate</span></dt>
        <dd>
            <span>{{tax.rate}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tax-mysuffix/'+ tax.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
