
<div *ngIf="invoice">
    <h2><span jhiTranslate="drzugApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.invoice.createAt">Create At</span></dt>
        <dd>
            <span>{{invoice.createAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.invoice.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'drzugApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.invoice.customer">Customer</span></dt>
        <dd>
            <div *ngIf="invoice.customerId">
                <a [routerLink]="['/customer-mysuffix', invoice.customerId]">{{invoice.customerFirstName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-mysuffix/'+ invoice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
