<div>
    <h2>
        <span jhiTranslate="drzugApp.invoice.home.title">Invoices</span>
        <button class="btn btn-primary float-right create-invoice-mysuffix" [routerLink]="['/', { outlets: { popup: ['invoice-mysuffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="drzugApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createAt"><span jhiTranslate="drzugApp.invoice.createAt">Create At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="drzugApp.invoice.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerFirstName"><span jhiTranslate="drzugApp.invoice.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['../invoice-mysuffix', invoice.id ]">{{invoice.id}}</a></td>
                <td>{{invoice.createAt | date:'medium'}}</td>
                <td jhiTranslate="{{'drzugApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</td>
                <td>
                    <div *ngIf="invoice.customerId">
                        <a [routerLink]="['../customer-mysuffix', invoice.customerId  ]" >{{invoice.customerFirstName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice-mysuffix', invoice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-mysuffix/'+ invoice.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-mysuffix/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="invoices && invoices.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
