
<div *ngIf="payment">
    <h2><span jhiTranslate="drzugApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.payment.date">Date</span></dt>
        <dd>
            <span>{{payment.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.payment.amount">Amount</span></dt>
        <dd>
            <span>{{payment.amount}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.payment.unit">Unit</span></dt>
        <dd>
            <span jhiTranslate="{{'drzugApp.Unit.' + payment.unit}}">{{payment.unit}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-mysuffix/'+ payment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
