<div>
    <h2>
        <span jhiTranslate="drzugApp.product.home.title">Products</span>
        <button class="btn btn-primary float-right create-product-mysuffix" [routerLink]="['/', { outlets: { popup: ['product-mysuffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="drzugApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="drzugApp.product.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="drzugApp.product.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="drzugApp.product.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="suggestedPrice"><span jhiTranslate="drzugApp.product.suggestedPrice">Suggested Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="drzugApp.product.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceTaxName"><span jhiTranslate="drzugApp.product.sourceTax">Source Tax</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['../product-mysuffix', product.id ]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>
                    <a *ngIf="product.image" (click)="openFile(product.imageContentType, product.image)">
                        <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 30px;" alt="product image"/>
                    </a>
                    <span *ngIf="product.image">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                </td>
                <td>{{product.description}}</td>
                <td>{{product.suggestedPrice}}</td>
                <td jhiTranslate="{{'drzugApp.ProductType.' + product.type}}">{{product.type}}</td>
                <td>
                    <div *ngIf="product.sourceTaxId">
                        <a [routerLink]="['../tax-mysuffix', product.sourceTaxId  ]" >{{product.sourceTaxName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-mysuffix', product.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-mysuffix/'+ product.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-mysuffix/'+ product.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="products && products.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
