
<div *ngIf="orderItem">
    <h2><span jhiTranslate="drzugApp.orderItem.detail.title">Order Item</span> {{orderItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.orderItem.count">Count</span></dt>
        <dd>
            <span>{{orderItem.count}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.orderItem.salePrice">Sale Price</span></dt>
        <dd>
            <span>{{orderItem.salePrice}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.orderItem.product">Product</span></dt>
        <dd>
            <div *ngIf="orderItem.productId">
                <a [routerLink]="['/product-mysuffix', orderItem.productId]">{{orderItem.productName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="drzugApp.orderItem.order">Order</span></dt>
        <dd>
            <div *ngIf="orderItem.orderId">
                <a [routerLink]="['/order-mysuffix', orderItem.orderId]">{{orderItem.orderId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-item-mysuffix/'+ orderItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
