
<div *ngIf="packetItem">
    <h2><span jhiTranslate="drzugApp.packetItem.detail.title">Packet Item</span> {{packetItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="drzugApp.packetItem.count">Count</span></dt>
        <dd>
            <span>{{packetItem.count}}</span>
        </dd>
        <dt><span jhiTranslate="drzugApp.packetItem.packet">Packet</span></dt>
        <dd>
            <div *ngIf="packetItem.packetId">
                <a [routerLink]="['/packet-mysuffix', packetItem.packetId]">{{packetItem.packetId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'packet-item-mysuffix/'+ packetItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
